source https://www.nuget.org/api/v2/
source https://www.myget.org/F/tpluscode/api/v3/index.json

content: none
redirects: on
copy_local: true

nuget Fody
nuget NullGuard.Fody
nuget xunit
nuget GitVersionTask prerelease
nuget FluentAssertions
nuget Stylecop.Analyzers
nuget GitLink < 3
nuget OpenCover
nuget tpluscode.library.ruleset
nuget tpluscode.UnitTests.Ruleset