source https://www.nuget.org/api/v2/
framework >= net40
content: none
redirects: on
copy_local: true

nuget Fody
nuget NullGuard.Fody
nuget xunit
nuget GitVersionTask
nuget FluentAssertions
nuget Stylecop.Analyzers
nuget GitLink
nuget OpenCover

gist tpluscode/a285267d2543466fc35c3a168c846f9f 